html {

}

body {
	margin: 0px;
	font-style: Helvetica;
	background:url(images/hangar.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#logo {
	width: 400px;
	height: auto;
}

#container {
	display: flex;
	align-items: center;
	justifiy-content: center;
	height: 100vh;
	flex-direction: column;
	color: black;
}
.separateur {
	height: 300px;
}